<app-header></app-header>
<div class="post-content">
    <p>Please read these Terms of Use (“Terms”, “Terms of Use”) carefully before using the Quickpad website.</p>
    <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These
        Terms apply to all visitors, users and others who access or use the Service.</p>
    <p><span style="text-decoration: underline;">By accessing or using the Service you agree to be bound by these Terms.
            If you disagree with any part of the terms then you may not access the Service.</span></p>
    <p><strong>Purchases</strong></p>
    <p>If you wish to purchase any product or service made available through the Service (“Purchase”), you may be asked
        to supply certain information relevant to your Purchase including, without limitation, your Google profile
        details.&nbsp; This is so we can connect your Google profile to the notepad application and provide you with
        improved features.&nbsp; You may at any time disconnect the subscription via the website or by request, but no
        refunds are granted for any subscription payments made under any circumstances.</p>
    <p><strong>&nbsp;</strong><strong>Termination</strong></p>
    <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
        whatsoever, including without limitation if you breach the Terms.</p>
    <p>All provisions of the Terms which by their nature should survive termination shall survive termination,
        including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
        liability.</p>
    <p><strong>&nbsp;</strong><strong>Content</strong></p>
    <p>Our Service allows you to create content with the Quickpad application.&nbsp; You are responsible for any content
        created in whole, and this website takes no responsibility for the same.</p>
    <p><strong>Changes</strong></p>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
        material we will try to provide at least 30 days’ notice prior to any new terms taking effect. What constitutes
        a material change will be determined at our sole discretion.</p>
    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about these Terms, please contact us.</p>
</div>